# Xcode
DerivedData/
*.xcworkspace
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
build/
*.xcresult

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Env files
.env
